# Graph data from json

In [1]:
import pandas as pd
import json
import requests
import time

import deetly

In [2]:
# Create datastory
package = {
    "name":"Teams from JSON in 3D", 
    "keywords": ["example, graph, forcegraph, 3D"]
}

ds = deetly.story(package)

## Mappings

In [3]:
df_links = pd.read_json('./team_links.json')
df_links['source'] = df_links['source'].astype(str)
df_links['target'] = df_links['target'].astype(str)

df_nodes = pd.read_json('./team_nodes.json')
df_nodes.columns=['id','name']
df_nodes['id'] = df_nodes['id'].astype(str)

In [4]:
df_nodes.head(1)

  id name
0  0   IT

In [5]:
df_links.head(1)

  source target  value
0      0      1    100

In [6]:
data = {
        'nodes': json.loads(df_nodes.to_json(orient='records')),
        'links': json.loads(df_links.to_json(orient='records'))
}

## Add figure

In [7]:
fig = {"data": data}

In [8]:
# Add figure to the datastory
description = """
## Teams
"""

ds.forcegraph(fig, "Teams", description)

## Publish

In [9]:
# Publish the datastory
ds.publish()

Publishing story Teams from JSON in 3D to the examples space...
Published at: https://public.deetly.com/examples/296d8293a53a35b0b07a82615bba1dd9