# Scatterplot subway stations

>Adapted from [pydeck samples](https://hub.gke2.mybinder.org/user/uber-deck.gl-b4is9nvm/notebooks/02%20-%20Scatterplots.ipynb)

In [1]:
import os
import deetly
import pandas as pd
import pydeck as pdk

from IPython.core.display import display

In [2]:
MAPBOX_TOKEN = os.environ['MAPBOX_TOKEN']

In [3]:
metadata = {
    "name":"Pydeck scatterplot Beijing subway stations", 
    "keywords": ["examples", "pydeck", "scatterplot", "maps"]
}

ds = deetly.story(metadata)

In [4]:
URL = 'https://raw.githubusercontent.com/ajduberstein/data_sets/master/beijing_subway_station.csv'
df = pd.read_csv(URL)

,lat,lng,osm_id,station_name,chinese_name,opening_date,color,line_name
0,39.940249,116.456359,1351272524,Agricultural Exhibition Center,农业展览馆,2008-07-19,"[0, 146, 188, 255]",Line 10
1,39.955570,116.388507,5057476994,Andelibeijie,安德里北街,2015-12-26,"[0, 155, 119, 255]",Line 8 (North section)
2,39.947729,116.402067,339088654,Andingmen,安定门,1984-09-20,"[0, 75, 135, 255]",Line 2
3,40.011026,116.263981,1362259113,Anheqiao North,安河桥北,2009-09-28,"[0, 140, 149, 255]",Line 4
4,39.967112,116.388398,5305505996,Anhuaqiao,安华桥,2012-12-30,"[0, 155, 119, 255]",Line 8 (North section)

In [5]:
from ast import literal_eval
# We have to re-code position to be one field in a list, so we'll do that here:
# The CSV encodes the [R, G, B, A] color values listed in it as a string
df['color'] = df.apply(lambda x: literal_eval(x['color']), axis=1)

In [8]:
df.head()

,lat,lng,osm_id,station_name,chinese_name,opening_date,color,line_name
0,39.940249,116.456359,1351272524,Agricultural Exhibition Center,农业展览馆,2008-07-19,"[0, 146, 188, 255]",Line 10
1,39.955570,116.388507,5057476994,Andelibeijie,安德里北街,2015-12-26,"[0, 155, 119, 255]",Line 8 (North section)
2,39.947729,116.402067,339088654,Andingmen,安定门,1984-09-20,"[0, 75, 135, 255]",Line 2
3,40.011026,116.263981,1362259113,Anheqiao North,安河桥北,2009-09-28,"[0, 140, 149, 255]",Line 4
4,39.967112,116.388398,5305505996,Anhuaqiao,安华桥,2012-12-30,"[0, 155, 119, 255]",Line 8 (North section)

In [9]:
# Use pydeck's data_utils module to fit a viewport to the central 90% of the data
viewport = pdk.data_utils.compute_view(points=df[['lng', 'lat']], view_proportion=0.9)

In [10]:
scatterplot = pdk.Layer(
    'ScatterplotLayer',
    df,
    get_position=['lng', 'lat'],
    get_radius=500,
    get_fill_color='color')
g = pdk.Deck(scatterplot, initial_view_state=viewport,api_keys={"mapbox": MAPBOX_TOKEN})
g.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

In [11]:
ds.pydeck(g, "stations")

In [12]:
ds.publish()

Publishing story Pydeck scatterplot Beijing subway stations to the examples space...
Published at: https://public.deetly.com/examples/d19e04df10162b944f197130fb7b5bb7